# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
var/
db.sqlite3
*.db
*.sqlite

# JavaScript
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehgport
Thumbs.db
Thumbs.db:encryptable

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment variables
.env
